<hr>
{{- if and (ne .Type "page") (or .Params.related (.Site.RegularPages.Related .)) }}
<div class="post-content md-content"><p>
<h3>Related:</h3>
<ul>
{{- if .Params.related }}

{{- range .Params.related }}
  {{- $slug := . -}}
  {{- range where $.Site.RegularPages "File.ContentBaseName" $slug }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{- end }}
{{- end }}

{{- else }}

  {{- range (.Site.RegularPages.Related . | first 3) }}
<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{- end }}

{{- end }}
</ul>
</p></div>

{{- end }}
